@import "variables.css"; 
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");



* {
	padding: 0;
	border: 0;
}

html {
	background: #fff;
}

body {
	margin: -10px;
	list-style: none;
	text-decoration: none;
}


.linea_color {
	background: var(--color-linea);
	width: 100%;
	height: 5px;
}



/*<--------------------- MOVIL --------------------->*/

.header {
	width: 100%;
	background: var(--cabecera-background-mobile);
}

.cabecera {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu_hamburguesa {
	width: 38px;
	margin: 30px 0 0 100px;
	background: var(--menu-hamburguesa) no-repeat;
}

.logo {
	background: var(--logo-mobile) no-repeat;
	width: 56px;
	height: 49px;
	margin: 12px 0 0 20px;
}

.menu {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 420px;
	background: var(--header-background-mobile);
	display: none;
	z-index:1;
}

.menu a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-decoration: none;
	color: var(--color-texto-header-mobile);
	font-weight: 600;
	font-family: "Montserrat";
	font-size: 15px;
}

.menu a.active {
	color: #9CAFC3;
}

.crear {
	display: none;
}

.contenido {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--background);
	flex: 1;
	min-height: 632px;
}

.texto h1 {
	font-family: "Montserrat", sans-serif;
	color: var(--color-texto);
	text-align: center;
	line-height: 33px;
	background-color: var(--background);
	font-size: 35px;
}

.texto_gifos_verde {
	font-family: "Montserrat", sans-serif;
	font-size: 35px;
	color: var(--texto-gifos);
	line-height: 33px;
	font-weight:700;
}

.contenido {
	background-color: var(--background);
}

.texto_gifos {
	color: #50E3C2;
	background-color: var(--background);
}

.ilustracion {
	width: 273px;
	padding-left: auto;
	background-color: var(--background);
}

.busqueda {
	padding: 10px 10px 10px 60px;
	background: #FFFFFF;
	border: var(--borde-input);
	border-radius: 27px;
	background-position: 95% 55%;
}

.input_busqueda {
	height: 30px;
	padding-left: 37px;
	font-size: 16px;
	color: #9CAFC3;
	background: var(--icono-busqueda) right no-repeat;
	background-size: 20px;
	outline: 0;
	width: 96%;
	opacity: 0.5;
}

.icono_busqueda {
	background-image: var(--icono-busqueda);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 7px 28px;
}

.input_busqueda:focus, select:focus {
	background-position: 1% 55%;
}

.input_busqueda::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background: var(--menu-hamburguesa-cerrar) right no-repeat;
	width: 16px;
	height: 16px;
}

.contenedor_busqueda,
.mis_favoritos ,
.mis_gifos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ocultar {
	display: none;
}

.contenedor_sugerencias {
	padding-left: 9px;
	font-size: 16px;
	color: #9CAFC3;
	width: 100%;
	opacity: 0.5;
}

.texto_busqueda {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: var(--color-texto);
	text-align: center;
	font-size: 35px;
	padding-top: 60px;
}

.resultado_imagenes_busqueda {
	position: relative;
	width: 156px;
	height: 120px;
	margin: 6px;
}

.boton_ver_mas {
	display: none;
	background: var(--ver-mas) no-repeat;
	width: 127px;
	height: 50px;
	margin: 30px 0;
}

.trending {
	padding-top: 31px;
	width: 53%;
	margin: auto;
}

.trending_texto {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: var(--color-texto);
	text-align: center;
	line-height: 25px;
	margin-bottom: -15px;
}

.reactions {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: var(--color-texto);
	text-align: center;
	line-height: 25px;
}

.trending_gifos {
	width: 100%;
	background-color: var(--background-trending);
	color: var(--color-texto);
	padding-bottom: 65px;
}

.trending_gifos_texto {
	padding-top: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: var(--color-texto);
	text-align: center;
	width: 100%;
	font-size: 25px;
}

.resultado_imagenes {
	position: relative;
	margin-top: 50px;
	width: 260px;
	height: 200px;
}

.resultado_imagenes img,
.resultado_imagenes_busqueda img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.mira {
	font-family: Roboto-Regular;
	font-size: 18px;
	color: var(--color-texto-pie);
	text-align: center;
	line-height: 23px;
	padding-bottom: 30px;
	width: 49%;
	margin: auto;
}

.boton_slider {
	display: none;
}

.resultado_trending {
	display: flex;
	justify-content: space-around;
}

.pie {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--color-texto-pie);
	background-color: var(--background);
}

.redes_sociales {
	display: flex;
	justify-content: center;
}

.compartir {
	padding-top: 24px;
	font-family: "Roboto";
	font-size: 15px;
	color: var(--color-texto-pie);
	letter-spacing: 0;
	text-align: center;
	font-weight: 500;
}

.derechos {
	color: var(--color-texto-pie);
	font-family: "Roboto";
	font-size: 13px;
	letter-spacing: 0;
}

.icono_facebook {
	display: block;
	background: var(--facebook) no-repeat;
	width: 15px;
	height: 20px;
}

.icono_facebook:hover {
	background: var(--facebook-hover) no-repeat;
}

.icono_twitter {
	display: block;
	background: var(--twitter) no-repeat;
	width: 20px;
	height: 20px;
}

.icono_twitter:hover {
	background: var(--twitter-hover) no-repeat;
}

.icono_instagram {
	display: block;
	background: var(--instagram) no-repeat;
	width: 20px;
	height: 20px;
}

.icono_instagram:hover {
	background: var(--instagram-hover) no-repeat;
}

.favoritos,
.icono_favoritos , 
.sin_favoritos ,
.texto_sin_favoritos ,
.gifos,
.icono_gifos , 
.sin_gifos ,
.texto_sin_gifos {
	margin-left: auto;
	margin-right: auto;
	color: var(--color-texto);
}

.icono_favoritos {
	background: var(--favoritos-verde) no-repeat;
	width: 28px;
	height: 21px;
}

.icono_gifos {
	background: var(--gifos-verde) no-repeat;
	width: 28px;
	height: 21px;
}

.sin_favoritos {
	margin-top: 110px;
	background: var(--sin-favoritos) no-repeat;
	width: 150px;
	height: 151px;
}
.sin_gifos {
	margin-top: 110px;
	background: var(--sin-gifos) no-repeat;
	width: 150px;
	height: 151px;
}

.texto_sin_gifos ,
.texto_sin_favoritos {
	font-family: "Montserrat";
	font-size: 22px;
	color: #50E3C2;
	text-align: center;
	line-height: 33px;
	font-weight: 700;
	width: 70%;
	margin-bottom: 137px;
}
.texto_gifos ,
.texto_favoritos {
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 25px;
    color: var(--color-texto);
    text-align: center;
    line-height: 30px;
}

.modal{
	display: none; 
	position: fixed; 
	z-index: 2;
	left: 0;
	top: 0;
	width: 420px;
	height: 100%; 
	background-color: var(--background-trending);
	justify-content: space-around;
}

.cerrar_modal{	
	position:absolute;  
	background: var(--menu-hamburguesa-cerrar) no-repeat;
    background-size: 100%;
	width:20px;
	height:20px;
	left: 82%;
	top: 10%;
}

.descarga_modal{	
	position:absolute;
	width: 32px;
	height: 32px;
	right: 23%;
	top: 40%;
	transition: opacity 0.35s ease;
	background: var(--descarga) no-repeat;
	background-size: 100%;
	z-index: 1;
	opacity: 1;
}

.imagen_ampliada{
    position: relative;
    width: 318px;
    height: 245px;
	background-size: 100%;
	margin-top:150px;
}

.usuario_modal{
	color : var(--color-texto-pie);
	z-index : 2;
	position : absolute; 
	width : 50%;
	top : 42%;
}

.titulo_modal{
	color : var(--color-texto-pie);
	position : absolute;
	z-index : 2;
	width : 50%;
	top :45%;	  
}

#corazon_modal{
	position : absolute;
	z-index : 2;
	opacity: 1;			
	top : 40%;
	left : 63%;	
	background-size: 100%;
	width: 32px;
    height: 32px;
}


.corazon{
	background: var(--favoritos) no-repeat;
	background-size: 100%;
}
.corazonActivo{
	background: var(--favoritos-active) no-repeat;
	background-size: 100%;
}


/*<--------------------- DISPOSITIVOS INTERMEDIOS --------------------->*/

@media screen and (min-width: 768px) {
	.menu_hamburguesa {
		display: none;
	}
	
	.menu {
		position: relative;
		width:100%
	}
	
	.header {
		display: flex;
		justify-content: space-around;
		background-color: var(--background);
		color: var(--color-texto);
	}
	
	.header ul {
		list-style: none;
		display: block;
		overflow: unset;
		background-color: var(--background);
		color: var(--color-texto);
	}
	
	nav {
		height: 44px;
		margin-top: 10px;
	}
	
	.logo {
		width: 36px;
		height: 36px;
		background: var(--logo) no-repeat;
	}
	
	.header ul a {
		padding-top: 5px;
		font-size: 16px;
		text-transform: uppercase;
	}
	
	.header li {
		float: left;
	}
	
	.header li a {
		font-family: "Montserrat";
		color: var(--color-texto);
		font-size: 13px;
		letter-spacing: 0;
		font-weight: 700;
		text-align: center;
	}
	
	.logo {
		width: 68px;
		height: 60px;
	}
	
	.crear, 
	.crearActivo{
		display: block;
		margin-top: -20px;
		background: var(--crear) no-repeat;
		width: 54px;
		height: 54px;
	}
	
	.boton_slider_izquierda ,
	.boton_ampliar_izquierda {
		display: block;
		background: var(--boton-scroll-izquierda);
		width: 40px;
		height: 40px;
	}
	
	.crearActivo {
		background: var(--crear-active) no-repeat;
		background-size:100%;
	}
	.crear:hover {
		background: var(--crear-hover) no-repeat;
	}
	
	
	.boton_slider_izquierda:hover ,
	.boton_ampliar_izquierda:hover   {
		background: var(--boton-scroll-izquierda-hover);
	}
	
	.boton_slider_derecha ,
	.boton_ampliar_derecha {
		display: block;
		background: var(--boton-scroll-derecha);
		width: 40px;
		height: 40px;
	}
	
	.boton_slider_derecha:hover ,
	.boton_ampliar_derecha:hover {
		background: var(--boton-scroll-derecha-hover);
	}
	
	.boton_ver_mas:hover {
		background: var(--ver-mas-hover) no-repeat;
	}
	
	.resultado_imagenes {
		position: relative;
		margin-top: 50px;
		width: 357px;
		height: 275px;
		margin-right: 12px;
	}
	
	.resultado_imagenes_busqueda {
		width: 260px;
		height: 200px;
		margin: 30px;
	}
	
	.pie {
		flex-direction: row;
		width: 100%;
		align-items: center;
	}
	
	.contenedor_gifos {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		background-color: var(--background-trending);
	}
	
	.compartir {
		padding: 0 10px 0 100px;
	}
	
	.redes_sociales {
		margin-right: auto;
	}
	
	.derechos {
		padding-right: 100px;
	}
	
	.modal{
		display: none; 
		position: fixed; 
		z-index: 2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		background-color: var(--background-trending);
		align-items:center;
		justify-content: space-around;
	}
	
	.imagen_ampliada{
		margin-top:0;
		width: 695px;
		height: 385px;
		
	}
	
	.usuario_modal{
		top : 83%;
		right : 25%;
	}
	
	.titulo_modal{
		top : 87%;
		right : 25%;
	}
	
	#corazon_modal{
		top : 83%;
		left : 68%;
	}
	
	.descarga_modal{	
		right: 25%;
		top: 83%;
	}
	
	
	
	/*<--------------------- ESCRITORIO --------------------->*/
	
	@media screen and (min-width: 1024px) {
		
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0);
			transition: background 0.5s ease;
		}
		
		.usuario {
			position: absolute;
			width: 96%;
			left: 4%;
			top: 74%;
			font-family: "Roboto";
			font-size: 15px;
			color: #FFFFFF;
			z-index: 1;
			opacity: 0;
			font-weight: 700;
		}
		
		.titulo {
			position: absolute;
			width: 96%;
			left: 4%;
			top: 85%;
			font-family: "Roboto";
			font-size: 16px;
			color: #FFFFFF;
			font-weight: 700;
			z-index: 1;
			opacity: 0;
		}
		
		.corazon {
			position: absolute;
			width: 32px;
			height: 32px;
			left: 57%;
			top: 5%;
			transition: opacity 0.35s ease;
			background-size: 100%;
			z-index: 1;
			opacity: 0;
		}
		
		.descarga {
			position: absolute;
			width: 32px;
			height: 32px;
			left: 71%;
			top: 5%;
			transition: opacity 0.35s ease;
			background: var(--descarga) no-repeat;
			background-size: 100%;
			z-index: 1;
			opacity: 0;
		}
		
		.ampliar {
			position: absolute;
			width: 32px;
			height: 32px;
			left: 85%;
			top: 5%;
			transition: opacity 0.35s ease;
			background: var(--ampliar) no-repeat;
			background-size: 100%;
			z-index: 1;
			opacity: 0;
		}
		
		.link {
			position: absolute;
			width: 32px;
			height: 32px;
			left: 64%;
			top: 25%;
			transition: opacity 0.35s ease;
			background: var(--link) no-repeat;
			background-size: 100%;
			z-index: 2;
			opacity: 0;
		}
		
		.resultado_imagenes:hover .titulo,
		.resultado_imagenes:hover .usuario,
		.resultado_imagenes:hover .corazon,
		.resultado_imagenes:hover .ampliar,
		.resultado_imagenes:hover .descarga,
		.resultado_imagenes_busqueda:hover .titulo,
		.resultado_imagenes_busqueda:hover .usuario,
		.resultado_imagenes_busqueda:hover .corazon,
		.resultado_imagenes_busqueda:hover .ampliar,
		.resultado_imagenes_busqueda:hover .descarga {
			opacity: 1;
		}
		
		.corazon:hover,
		#corazon_modal:hover {
			background: var(--favoritos-hover) no-repeat;
		}
		
		.descarga:hover,
		#descarga_modal:hover {
			background: var(--descarga-hover) no-repeat;
		}
		
		.ampliar:hover {
			background: var(--ampliar-hover) no-repeat;
		}
		
		.resultado_imagenes:hover .overlay,
		.resultado_imagenes_busqueda:hover .overlay {
			display: block;
			opacity: 0.6;
			background: #572EE5;
		}
		
		.link:hover {
			background: var(--link-hover) no-repeat;
		}
		
		.texto {
			width: 42%;
			margin: auto;
		}
		
		.ilustracion {
			width: 399px;
			padding: auto;
		}
		
		.busqueda, .contenedor_sugerencias {
			width: 551px;
		}
		
		.gif_favoritos {
			width: 260px;
			height: 200px;
			padding: 0 20px 0 20px;
		}
		
		.modo_nocturno {
			background-color: #37383c;
			color: white;
		}
		
		.creacion{
			display:flex;
			justify-content: center;
			align-items:center;
			margin-top:45px;
			width: 688px;
			height: 390px;
			justify-content: space-around;
			border: 1.5px solid var(--color-texto);			
		}
		
		.camara{
			position:absolute;  
			background: var(--camara) no-repeat;
			background-size: 100%;
			width:123px;
			height:163px;
			left: 8%;
			top: 28%;
		}
		
		.luz_camara{
			display:none;
			position:absolute;  
			background: var(--luz-camara) no-repeat;
			background-size: 100%;
			width:91px;
			height:151px;
			left: 17%;
			top: 29%;
			animation-name: parpadeo;
			animation-duration: 2s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		
		@-webkit-keyframes parpadeo {  
			0% { opacity: 1.0; }
			50% { opacity: 0.0; }
			100% { opacity: 1.0; }
		}
		
		.pelicula{		
			position:absolute;  
			background: var(--pelicula) no-repeat;
			background-size: 100%;
			width:123px;
			height:163px;
			left: 80%;
			top: 68%;
		}
		
		.paso_a_paso,
		.estado{
			margin-top: 30px;	
			display: flex;
			justify-content: space-around;
			width :50%;
			padding-left:8%;
			
		}
		
		.uno ,
		.dos ,
		.tres{
			display:flex;
			border-radius: 50%;
			width:32px;
			height:32px;
			justify-content: center;
			align-items: center;
			font-family: "Roboto";
			font-weight:700;
			font-size: 18px;
			color: var(--color-texto);
			background: var(--background);
			border: 1.5px solid var(--color-texto);
		}
		
		.linea_crear{	
			margin-top:30px;	
			background: var(--color-texto);
			width:55%;
			height:7px;
		}
		
		.boton_crear{
			display:flex;
			justify-content: center;
			align-items: center;
			margin-top:20px;
			border: 1px solid var(--color-texto);
			border-radius: 25px;
			border-radius: 25px;
			color: var(--color-texto);
			width:127px;
			height:50px;
			font-weight:700;
			font-family: "Montserrat";
			font-size: 13px;
			letter-spacing: 0;
		}
		
		.boton_crear:hover{
			border: 1px solid var(--color-linea);
			color: var(--color-texto-crear);
			background: var(--color-texto);
			
		}
		
		.texto_crear{
			font-family: "Montserrat";
			color: var(--color-texto);
			text-align: center;
			line-height: 35px;
			width:60%;
			margin: auto;
		}
		
		.texto_crear h3{
			font-family: "Roboto";
			font-size: 16px;
			color: var(--color-texto-pie);
			text-align: center;
			line-height: 29px;
			
		}
		
		.contenedor_video{
			display:flex;
			justify-content: center;
			align-items:center; 		
			
		}
		
		.video{
			display:none;
			margin:auto;
		}
		
		video,
		.previsualizar{
			position:absolute;
			width: 480px;
			height: 320px;
			
		}
		
		.reloj{
			padding:35px 0 0 100px;
			font-family: "Montserrat";
			font-size: 15px;
			color: var(--color-texto);
			letter-spacing: 0;
			text-align: center;
			line-height: 22px;
			font-weight:700
		}
		
		.overlay_previsualizar{
			display:none;
			width: 480px;
			height: 320px;
			position: absolute;
			background: #572EE5;
			opacity: 0.6;
			z-index:2;
			margin:auto;
			color:#FFFFFF;
			justify-content: center;
			align-items:center;
			font-family: "Montserrat";
			font-weight:700;
			font-size: 15px;
			background-image: var(--cargando);
		}
		
	}
}