
html {
	background: #fff;
}

body {
	margin: -10px;
	list-style: none;
	text-decoration: none;
}

html {
	--blanco: #ffffff;
	--negro: #000000;
	--boton-scroll-derecha-hover:url("../imagenes/button-slider-right-hover.svg");
	--boton-scroll-izquierda-hover:url("../imagenes/button-slider-left-hover.svg");
	--color-texto-header-mobile:#FFFFFF;
	--facebook-hover:url("../imagenes/icon_facebook_hover.svg");
	--twitter-hover:url("../imagenes/icon_twitter_hover.svg");
	--instagram-hover:url("../imagenes/icon_instagram_hover.svg");
	--favoritos-verde:url("../imagenes/icon-favoritos.svg");
	--gifos-verde:url("../imagenes/icon-mis-gifos.svg");
	--sin-favoritos:url("../imagenes/icon-fav-sin-contenido.svg");
	--sin-gifos:url("../imagenes/icon-mis-gifos-sin-contenido.svg");
	--favoritos:url("../imagenes/icon-fav.svg");
	--favoritos-hover:url("../imagenes/icon-fav-hover.svg");
	--favoritos-active:url("../imagenes/icon-fav-active.svg");
	--descarga:url("../imagenes/icon-download.svg");
	--link:url("../imagenes/icon-link-normal.svg");
	--link-hover:url("../imagenes/icon-link-hover.svg");
	--descarga-hover:url("../imagenes/icon-download-hover.svg");
	--ampliar:url("../imagenes/icon-max-normal.svg");
	--ampliar-hover:url("../imagenes/icon-max-hover.svg");
	--camara:url("../imagenes/camara.svg");
	--luz-camara:url("../imagenes/element-luz-camara.svg");
	--cargando:url("./imagenes/loader.svg");
	--exito:url("./imagenes/check.svg");
	--pelicula:url("../imagenes/pelicula.svg");
	--texto-gifos:#50E3C2;
	
}

.diurno {
	--crear:url("../imagenes/button-crear-gifo.svg");
	--crear-active : url("../imagenes/CTA-crear-gifo-active.svg");
	--crear-hover:url("../imagenes/CTA-crear-gifo-hover.svg");
	--menu-hamburguesa:url("../imagenes/burger.svg");
	--menu-hamburguesa-cerrar:url("../imagenes/close.svg");
	--logo-mobile:url("../imagenes/logo-mobile.svg");
	--logo:url("../imagenes/logo-desktop.svg");
	--header-background-mobile:rgba(87,46,229,0.90);
	--cabecera-background-mobile:#FFFFFF;
	--background: #FFFFFF;
	--background-trending:#F3F5F8;
	--color-texto:#572EE5;
	--color-texto-crear:#FFFFFF;
	--color-linea:#572EE5;
	--color-texto-pie:#000000;
	--color-input:#9CAFC3;
	--borde-input:1px solid #572EE5;
	--icono-busqueda:url("../imagenes/icon-search.svg");
	--boton-scroll-derecha:url("../imagenes/button-slider-right.svg");
	--boton-scroll-izquierda:url("../imagenes/button-slider-left.svg");
	--facebook:url("../imagenes/icon_facebook.svg");
	--twitter:url("../imagenes/icon_twitter.svg");
	--instagram:url("../imagenes/icon_instagram.svg");
	--ver-mas: url("../imagenes/CTA-ver-mas.svg");
	--ver-mas-hover: url("../imagenes/CTA-ver-mas-hover.svg");
	--paso-a-paso :url("../imagenes/paso-a-paso.svg"); 
	--paso-a-paso-hover :url("../imagenes/paso-a-paso-hover.svg"); 
	
}

.nocturno {
	--crear:url("../imagenes/CTA-crar-gifo-modo-noc.svg");
	--crear-active : url("../imagenes/CTA-crear-gifo-active-modo-noc.svg");
	--crear-hover:url("../imagenes/CTA-crear-gifo-hover-modo-noc.svg");
	--menu-hamburguesa:url("../imagenes/burger-modo-noct.svg");
	--menu-hamburguesa-cerrar:url("../imagenes/close-modo-noct.svg");
	--logo-mobile:url("../imagenes/logo-mobile-modo-noct.svg");
	--logo:url("../imagenes/logo-modo-noc.svg");
	--header-background-mobile:#000000;
	--cabecera-background-mobile:#37383C;
	--background: #37383c;
	--background-trending:#222326;
	--color-texto:#FFFFFF;
	--color-linea:#000000;
	--color-texto-pie:#FFFFFF;
	--color-texto-crear:#000000;
	--color-input:#FFFFFF;
	--borde-input:1px solid # #FFFFFF;
	--icono-busqueda:url("../imagenes/icon-search-mod-noc.svg");
	--boton-scroll-derecha:url("../imagenes/button-slider-right-md-noct.svg");
	--boton-scroll-izquierda:url("../imagenes/button-slider-left-md-noct.svg");
	--facebook:url("../imagenes/icon_facebook_noc.svg");
	--instagram:url("../imagenes/icon_instagram_noc.svg");
	--twitter:url("../imagenes/icon_twitter_noc.svg");
	--ver-mas: url("../imagenes/CTA-ver+-modo-noc.svg");
	--ver-mas-hover: url("../imagenes/CTA-ver+hover-modo-noc.svg");
	--paso-a-paso :url("../imagenes/paso-a-paso-mod-noc.svg"); 
	--paso-a-paso-hover :url("../imagenes/paso-a-paso-hover-mod-noc.svg");
}