// Solo el h1 del titulo
main{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 12vw;

    h1{
        font-family: $monserrat;
        font-weight: 700;
        font-size: 6.66vw;
        color: #572EE5;
        text-align: center;
        line-height: 8.8vw;
        width: 76.3vw;
        span{
            color: #5ED7C6;
        }
    }
    #cont-bus{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        padding-top: 8.67vw;
        #ilustra-header{
            width: 72.8vw;
        }
        #bar-bus{
            width: 89.1vw;

            border: 1px solid #572EE5;
            border-radius: 13.88vw;
            #bus-bar{
                display: flex;
                align-items: center;
                height: 14vw;
                input{
                    font-family: $roboto;
                    font-size: 4.26vw;
                    text-align: left;
                    border: 0;
                    width: 57.3vw;
                    margin-left: 14.7vw;
                    outline: none;
    
                }
    
                img{
                    width: 5.3vw;
                    padding-left: 6.4vw;
                }
                #closeBus{
                    width: 3.7vw;
                    height: 3.7vw;
                }
            }
            .contSugerencias{
                display: none;
            }
      
        }

    }
    .tren-bus{
        display: flex;
        flex-direction: column;
        padding-top: 8.67vw;
        h2{
            font-family: $monserrat;
            font-size: 4.26vw;
            color: #572EE5;
            text-align: center;
            line-height: 6.66vw;
        }
        p{
            width: 60vw;
            font-family: $monserrat;
            font-weight: 500;
            font-size: 3.73vw;
            color: #572EE5;
            text-align: center;
            line-height: 6.66vw;

        }
    }
    .contGifBusNone {
        display: none;
    }
    .contBus{
        display: flex;
        flex-direction: column;
        align-items: center;
        .rayita{
            width: 41.9vw;
            height: 0.1vw;
            margin-top: 9.33vw;
            background-color: #9CAFC3;

        }
        .tituloBusq{
            font-family: $monserrat;
            font-weight: 700;
            font-size: 6.66vw;
            color: #572EE5;
            text-align: center;
            line-height: 10.66vw;

            padding-top: 11.46vw;
        }
        .busquedaOk{
            padding-top: 3.46vw;
            width: 88.8vw;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;

            .imgBusCont{
                margin-top: 4.8vw;
                img{
                    width: 41.6vw;
                    height: 32vw;  
                }

            }

        }

        .verMas{
            width: 33.9vw;
            height: 13.33vw;
            background-color: white;
            border: 0.26vw solid #572EE5;
            border-radius: 6.6666vw;

            outline: none;

            margin-top: 20.8vw;
            font-family: $monserrat;
            font-weight: 700;
            font-size: 3.46vw;
            color: #572EE5;
            text-align: center;
            
        }

        .busErronea{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10.13vw;

            .mensajeError{
                font-family: $monserrat;
                font-weight: 700;
                font-size: 5.86vw;
                color: #50E3C2;
                text-align: center;
                padding-top: 5vw;
            }
        }
        .imgError{
            width: 50vw;
        }
    }


}

// MODO OSCURO

.mainDark{
    background-color: #37383C;
    h1{
        color: #ffffff;
    }
    #cont-bus{
        #bar-bus{
            border: 1px solid #FFFFFF;
            input{
                background-color: #37383C;
                color: #FFFFFF;
            }
        }
    }
    #tren-bus{
        h2{
            color: #FFFFFF;
        }
        #trenWords{
            color: #FFFFFF;
        }
    }
    #contGifBus{
        .rayita{
            background-color: #FFFFFF;
        }
        #tituloBusq{
            color: #FFFFFF;
        }
        .verMas{
            border-color: white;
            background-color: #37383C;
            color: #FFFFFF;
            &:hover{
                border-color: white;
                background-color: white;
                color: black;
            }
        }
    }
}



@media screen and( min-width:850px){
    main{
        padding-bottom: 5.48vw;
        #h1{
            display: block;
            font-family: $monserrat;
            font-weight: 700;
            font-size: 2.43vw;
            color: #572EE5;
            text-align: center;
            line-height: 3.47vw;
            width: 50vw;
            padding-top: 5.37vw;
        }
        #cont-bus{
            #ilustra-header{
                display: block;
                width: 27.7vw;
            }
            #bar-bus{
                width: 38.3vw;
    
                border: 1px solid #572EE5;
                border-radius: 1.875vw;
                #bus-bar{
                height: 3.47vw;
                input{
                    font-size: 1.11vw;
                    color: #9CAFC3;
                    text-align: left;
                    width: 14.6vw;
                    margin-left: 3.8vw;
                }
                img{
                    width: 1.4vw;
                    padding-left: 17.2vw;
                }
                #closeBus{
                    width: 1.4vw;
                    padding-left: 17.2vw;
                }

                }

                .contSugerencias{
                    display: flex;
                    margin: 0 1.6vw 0;
                    border-top: 1px solid #9CAFC3;
                    opacity: 0.5;
                    .listaSugerencias{
                        padding: 0.27vw 0 1.25vw;

                        .sugerencia{
                            display: flex;
                            list-style: none;
                            font-family: $roboto;
                            font-weight: 400;
                            font-size: 1.11vw;
                            color: #000000;
                            text-align: left;
                            padding-top: 0.7vw;
                            img{
                                width: 1.1vw;
                            }
                            p{
                                padding-left: 1vw;
                            }
                        }
                    }
                }

            }

        }
        .tren-bus{
            padding-top: 5.07vw;
            h2{
                font-size: 1.25vw;
                line-height: 1.74vw;
            }
            p{
                font-size: 1.11vw;
                line-height: 1.74vw;
            }
        }
        .trenaux{
            display: none;
        }
        .contBus{
            .rayita{
                width: 23.5vw;
                height: 0.1px;
                margin-top: 3.82vw;
            }
            .tituloBusq{
                font-size: 2.43vw;
                line-height: 2.08vw;
                padding-top: 5.69vw;
            }
            .busquedaOk{
                padding-top: 2.08vw;
                width: 78.26vw;
                justify-content: space-between;
                display: flex;
                flex-wrap: wrap;
                .imgBusCont{
                    width: 18.1vw;
                    height: 13.88vw; 

                    margin-top: 2.01vw;
                    img{
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                    }
                    .hoverImg{
                        position: relative;
                        background-color: #572EE5;;
                        opacity: 0.7;
                        top: -14.125vw;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        div{
                            width: 100%;
                            height: 50%;
                        }
                        .contImg{
                            display: flex;
                            justify-content: flex-end;
                            align-content: flex-start;
                            img{
                                width: 2.2vw;
                                height: 2.2vw;
                                padding-top: 0.69vw;
                                padding-right: 0.69vw;
                            }
                        }
                        .contTit{
                            h4{
                                padding-left: 0.8vw;
                                font-family: $roboto;
                                font-weight: 400;
                                font-size: 1.04vw;
                                color: #FFFFFF;
                            }
                            h3{
                                padding-left: 0.8vw;
                                font-family: $roboto;
                                font-weight: 700;
                                font-size: 1.11vw;
                                color: #FFFFFF;
                            }
                        }
                    }

                }


            }
            .verMas{
                width: 8.8vw;
                height: 3.47vw;
                border: 0.069vw solid #572EE5;
                border-radius: 1.73vw;
                margin-top: 5.41vw;
                font-weight: 700;
                font-size: 0.902vw;
            }

            .busErronea{
                padding-top: 10.13vw;
    
                .mensajeError{
                    font-size: 1.53vw;
                    padding: 2.01vw 0 4.93vw;

                }
            }
            .imgError{
                width: 10.4vw;
            }
        }

    }
}