.logoFav{
    margin-top: 1.3vw;
}
.titFavoritos{
    padding-top: 1.87vw;
    font-family: $monserrat;
    font-weight: 700;
    font-size: 5.55vw;
    color: #572EE5;
    text-align: center;
    line-height: 8vw;
}
#contFavoritos{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5.6vw;

    img{
        width: 41.6vw;
        height: 32vw;
        
        padding-top: 6.666vw;
        padding-left: 5.6vw;
    }
}