// PARTE SUPERIOR Y NAV

.lineas{
    height: 1.33vw;
    width: 100%;
    background-color: $morado_letras;
}

nav{
    height: 13.67vw;
    padding: 8vw 6.9vw 4.66vw 5.9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contLogoDesk{
        display: none;
    }
    #logo{
        width: 13vw;
        height: 13vw;
    }
    .cont-logo{
        height: 13vw;
        width: 13vw;
    }

    #nav-list{
        display: none;
        position: absolute;
        top: 26.3vw;
        
        width: 100%;
        height: 129.06vw;

        
    
        .nav-list-item{
            list-style: none;
            height: 15.87vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            a{
                text-decoration: none;
                font-family:  $monserrat, sans-serif;
                font-size: 4vw;
                font-weight: 700;
                text-align: center;
                line-height: 8vw;
            }
            h3{
                text-decoration: none;
                font-family:  $monserrat, sans-serif;
                font-size: 4vw;
                font-weight: 700;
                text-align: center;
                line-height: 8vw;
            }

            .raya{
                height: 0.26vw;
                opacity: 50%;
                width: 10.9vw;
            }
            .contCrearGifo{
                display: none;
            }

        }
        #lightBoton-ctn{
            display: none;
        }
    }
    #chk-nav-bar{
        display: none;
    }
    #close-burger{
        display: none;
        width: 4vw;
    }
    #open-burger{
        width: 4vw;
        
    }


    #chk-nav-bar:checked ~ #open-burger{
        display: none;
    }
    #chk-nav-bar:checked ~ #close-burger{
        display: block;
    }

    #chk-nav-bar:checked ~ #nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        padding-top: 4.47vw;
        
        

    }

}

// COLORES

.navList{
    background-color: #572EE5;
    opacity: 0.9;
    .nav-list-item{
        a{
            color: white;
        }
        h3{
            color: white;
        }
        .raya{
            background-color: white;
        }
    }


}
.lineasDark{
    background-color: black ;
}
.navDark{
    background-color: #37383C;
}
.navListDark{
    background-color: black;
    opacity: 1;
    a{
        color: white;
    }
    h3{
        color: white;
    }
    .raya{
        background-color: white;
    }

}

@media screen and(min-width:850px){
    .lineas{
        height: 0.5vw;
    }
    nav{
        justify-content: space-between;
        height: 4.1vw;
        padding: 1.25vw 10.83vw 0.9vw 10.83vw;
        .contLogo{
            display: none;
        }
        .contLogoDesk{
            display: block;
            width: 4.1vw;
            height: 4.1vw;
        }
        #logoDesk{
            width: 4.1vw;
            height: 4.1vw;
        }

        #nav-list{
            display: flex;
            justify-content: space-between ;
            width: auto;
            top: 0;
            position: static;
            opacity: 1;
            height: 100%;
            .nav-list-item{
                list-style: none;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                padding-left: 2.8vw;
                h3{
                    font-family: $monserrat;
                    font-size: 0.902vw;
                    text-align: center;
                    line-height: normal;
                    text-transform: uppercase;
                }
                a{
                    font-family: $monserrat;
                    font-size: 0.902vw;
                    text-align: center;
                    line-height: normal;
                    text-transform: uppercase;
                    

                }
                .raya{
                    display: none;
                }
                .contCrearGifo{
                    display: block;
                    padding-left: 1.1vw;
                }
                &:hover{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .raya{
                        width: 100%;
                        height: 0.16vw;
                        align-self: flex-end;
                        display: block;
                        background-color: #5ED7C6;
                        opacity: 1;
                    }
                }
            }

        }

        .navList{
            background-color: white;
            opacity: 1;
            .nav-list-item{
                a{
                    color: #572EE5;
                }
                h3{
                    color: #572EE5;
                }

            }
         
        }
        .navListDark{
            background-color: #37383C;
            opacity: 1;
            a{
                color: white;
            }
            h3{
                color: white;
            }
            .raya{
                background-color: white;
            }
        
        }

        #open-burger{
            display: none;
        }
        #close-burger{
            display:none;
        }
    }

}
 


