#openGif{
    position: fixed;
    background-color: rgba( white, 0.9);
    height: 100%;
    width: 84.8vw;
    top: 0;
    left: 0;
    z-index: 1;
    

    padding: 15.73vw 7.5vw 0 7.7vw;

    display: none;
    flex-direction: column;
    .contClose{
        align-self: flex-end;
        padding: 1.3vw;
        width: 3.7vw;
        height: 3.7vw;
    }

    .imgGifSelect{
        padding-top: 19.46vw;
        width: 100%;
        height: 65.33vw;
    }
    
    #contInfo{
        display: flex;
        justify-content: space-between;
        padding-top: 3.73vw;
        .contTitulos{
            
            h4{
                font-family: $roboto;
                font-size: 4vw;
                color: #000000;

                padding-left: 1.4vw;
            }
            h3{
                padding-top: 1.6vw;
                font-family: $monserrat;
                font-size: 4.26vw;
                color: #000000;
            }
        }
        .contLogGif{
            display: flex;
            align-items: center;
            
            .imgDown{
                display: flex;
                justify-content: center;
                align-content: center;
                margin-left: 7.7vw;

                opacity: 0.5;
                border: 0.26vw solid #9CAFC3;
                border-radius: 1.6vw;
                border-radius: 1.6vw;
                width: 9.6vw;
                height: 9.6vw;
            }
        }
    }
}

