#contTrend{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11.2vw;
    padding-bottom: 22.67vw;
    
    h2{
        font-family: $monserrat;
        font-weight: 700;
        font-size: 5.33vw;
        
        text-align: center;
        line-height: 8vw;  
    }
    p{
        font-family: $roboto;
        font-size: 4.26vw;
        
        text-align: center;
        line-height: 6.13vw;
        width: 88.8vw;
    }
    #trenContent{
        display: flex;
        width: 100vw;
        padding-top: 9vw;   
        
        overflow: scroll;
        .trendgif{
            width: 64.8vw;
            height: 52vw;
            margin-left: 5.9vw;
        }
    }
    #ternContentDesk{
        display: none;
    }
}


//Colores

.contTrendlight{
    background-color: #F3F5F8;
    h2{
        color: #572EE5;
    }
    p{
        color: #000000;
    }
}
.contTrendDark{
    background-color: #222326;
    h2{
        color: #FFFFFF;
    }
    p{
        color: #FFFFFF;
    }
}

@media screen and( min-width:850px){
    #contTrend{
        padding: 4.65vw 0 11.74vw;
        h2{
            font-size: 1.74vw;
            line-height: 2.08vw;
        }
        #contPrf{
            display: flex;


            p{
                font-size: 1.25vw;
                width: auto;
            }
            .ult{
                padding-left:0.5vw;
            }
        }
        #trenContent{
            display: none;


        }
        #ternContentDesk{
            display: flex;
            align-items: center;
            .sliders{
                margin: 0 1.6vw 0;
                height: 100%;
            }
            #contTrenDesk{
                display: flex;
                width: 78.3vw;
                justify-content: space-between;
                .contGifTrend{
                    width: 24.8vw;
                    height: 19.1vw;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .hoverTrend{
                        position: relative;
                        background-color: #572EE5;;
                        opacity: 0.7;
                        width: 100%;
                        height: 100%;
                        top: -19.5vw;
                        z-index: 1;
                        div{
                            width: 100%;
                            height: 50%;
                        }
                        .imgCont{
                            display: flex;
                            justify-content: flex-end;
                            img{
                                width: 2.2vw;
                                height: 2.2vw;
                                padding: 0.7vw 0.7vw 0 0;
                            }
                        }
                        .titCont{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            padding-left: 1.3vw;
                            h4{
                                font-family: $roboto;
                                font-weight: 400;
                                font-size: 1.04vw;
                                color: #FFFFFF;
                                text-align: center;
                            }
                            h3{
                                font-family: $roboto;
                                font-weight: 700;
                                font-size: 1.11vw;
                                color: #FFFFFF;
                                text-align: center;
                                padding-top: 0.41vw;
                            }
                        }

                    }
                }
  

            }
        }

    }
}