* {
  margin: 0;
  padding: 0;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.lineas {
  height: 1.33vw;
  width: 100%;
  background-color: #572EE5;
}

nav {
  height: 13.67vw;
  padding: 8vw 6.9vw 4.66vw 5.9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .contLogoDesk {
  display: none;
}

nav #logo {
  width: 13vw;
  height: 13vw;
}

nav .cont-logo {
  height: 13vw;
  width: 13vw;
}

nav #nav-list {
  display: none;
  position: absolute;
  top: 26.3vw;
  width: 100%;
  height: 129.06vw;
}

nav #nav-list .nav-list-item {
  list-style: none;
  height: 15.87vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav #nav-list .nav-list-item a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  line-height: 8vw;
}

nav #nav-list .nav-list-item h3 {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  line-height: 8vw;
}

nav #nav-list .nav-list-item .raya {
  height: 0.26vw;
  opacity: 50%;
  width: 10.9vw;
}

nav #nav-list .nav-list-item .contCrearGifo {
  display: none;
}

nav #nav-list #lightBoton-ctn {
  display: none;
}

nav #chk-nav-bar {
  display: none;
}

nav #close-burger {
  display: none;
  width: 4vw;
}

nav #open-burger {
  width: 4vw;
}

nav #chk-nav-bar:checked ~ #open-burger {
  display: none;
}

nav #chk-nav-bar:checked ~ #close-burger {
  display: block;
}

nav #chk-nav-bar:checked ~ #nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  padding-top: 4.47vw;
}

.navList {
  background-color: #572EE5;
  opacity: 0.9;
}

.navList .nav-list-item a {
  color: white;
}

.navList .nav-list-item h3 {
  color: white;
}

.navList .nav-list-item .raya {
  background-color: white;
}

.lineasDark {
  background-color: black;
}

.navDark {
  background-color: #37383C;
}

.navListDark {
  background-color: black;
  opacity: 1;
}

.navListDark a {
  color: white;
}

.navListDark h3 {
  color: white;
}

.navListDark .raya {
  background-color: white;
}

@media screen and (min-width: 850px) {
  .lineas {
    height: 0.5vw;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 4.1vw;
    padding: 1.25vw 10.83vw 0.9vw 10.83vw;
  }
  nav .contLogo {
    display: none;
  }
  nav .contLogoDesk {
    display: block;
    width: 4.1vw;
    height: 4.1vw;
  }
  nav #logoDesk {
    width: 4.1vw;
    height: 4.1vw;
  }
  nav #nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    top: 0;
    position: static;
    opacity: 1;
    height: 100%;
  }
  nav #nav-list .nav-list-item {
    list-style: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 2.8vw;
  }
  nav #nav-list .nav-list-item h3 {
    font-family: "Montserrat";
    font-size: 0.902vw;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
  }
  nav #nav-list .nav-list-item a {
    font-family: "Montserrat";
    font-size: 0.902vw;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
  }
  nav #nav-list .nav-list-item .raya {
    display: none;
  }
  nav #nav-list .nav-list-item .contCrearGifo {
    display: block;
    padding-left: 1.1vw;
  }
  nav #nav-list .nav-list-item:hover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #nav-list .nav-list-item:hover .raya {
    width: 100%;
    height: 0.16vw;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: block;
    background-color: #5ED7C6;
    opacity: 1;
  }
  nav .navList {
    background-color: white;
    opacity: 1;
  }
  nav .navList .nav-list-item a {
    color: #572EE5;
  }
  nav .navList .nav-list-item h3 {
    color: #572EE5;
  }
  nav .navListDark {
    background-color: #37383C;
    opacity: 1;
  }
  nav .navListDark a {
    color: white;
  }
  nav .navListDark h3 {
    color: white;
  }
  nav .navListDark .raya {
    background-color: white;
  }
  nav #open-burger {
    display: none;
  }
  nav #close-burger {
    display: none;
  }
}

.logoFav {
  margin-top: 1.3vw;
}

.titFavoritos {
  padding-top: 1.87vw;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 5.55vw;
  color: #572EE5;
  text-align: center;
  line-height: 8vw;
}

#contFavoritos {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5.6vw;
}

#contFavoritos img {
  width: 41.6vw;
  height: 32vw;
  padding-top: 6.666vw;
  padding-left: 5.6vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12vw;
}

main h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 6.66vw;
  color: #572EE5;
  text-align: center;
  line-height: 8.8vw;
  width: 76.3vw;
}

main h1 span {
  color: #5ED7C6;
}

main #cont-bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8.67vw;
}

main #cont-bus #ilustra-header {
  width: 72.8vw;
}

main #cont-bus #bar-bus {
  width: 89.1vw;
  border: 1px solid #572EE5;
  border-radius: 13.88vw;
}

main #cont-bus #bar-bus #bus-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vw;
}

main #cont-bus #bar-bus #bus-bar input {
  font-family: "Roboto";
  font-size: 4.26vw;
  text-align: left;
  border: 0;
  width: 57.3vw;
  margin-left: 14.7vw;
  outline: none;
}

main #cont-bus #bar-bus #bus-bar img {
  width: 5.3vw;
  padding-left: 6.4vw;
}

main #cont-bus #bar-bus #bus-bar #closeBus {
  width: 3.7vw;
  height: 3.7vw;
}

main #cont-bus #bar-bus .contSugerencias {
  display: none;
}

main .tren-bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8.67vw;
}

main .tren-bus h2 {
  font-family: "Montserrat";
  font-size: 4.26vw;
  color: #572EE5;
  text-align: center;
  line-height: 6.66vw;
}

main .tren-bus p {
  width: 60vw;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3.73vw;
  color: #572EE5;
  text-align: center;
  line-height: 6.66vw;
}

main .contGifBusNone {
  display: none;
}

main .contBus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contBus .rayita {
  width: 41.9vw;
  height: 0.1vw;
  margin-top: 9.33vw;
  background-color: #9CAFC3;
}

main .contBus .tituloBusq {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 6.66vw;
  color: #572EE5;
  text-align: center;
  line-height: 10.66vw;
  padding-top: 11.46vw;
}

main .contBus .busquedaOk {
  padding-top: 3.46vw;
  width: 88.8vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .contBus .busquedaOk .imgBusCont {
  margin-top: 4.8vw;
}

main .contBus .busquedaOk .imgBusCont img {
  width: 41.6vw;
  height: 32vw;
}

main .contBus .verMas {
  width: 33.9vw;
  height: 13.33vw;
  background-color: white;
  border: 0.26vw solid #572EE5;
  border-radius: 6.6666vw;
  outline: none;
  margin-top: 20.8vw;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.46vw;
  color: #572EE5;
  text-align: center;
}

main .contBus .busErronea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10.13vw;
}

main .contBus .busErronea .mensajeError {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 5.86vw;
  color: #50E3C2;
  text-align: center;
  padding-top: 5vw;
}

main .contBus .imgError {
  width: 50vw;
}

.mainDark {
  background-color: #37383C;
}

.mainDark h1 {
  color: #ffffff;
}

.mainDark #cont-bus #bar-bus {
  border: 1px solid #FFFFFF;
}

.mainDark #cont-bus #bar-bus input {
  background-color: #37383C;
  color: #FFFFFF;
}

.mainDark #tren-bus h2 {
  color: #FFFFFF;
}

.mainDark #tren-bus #trenWords {
  color: #FFFFFF;
}

.mainDark #contGifBus .rayita {
  background-color: #FFFFFF;
}

.mainDark #contGifBus #tituloBusq {
  color: #FFFFFF;
}

.mainDark #contGifBus .verMas {
  border-color: white;
  background-color: #37383C;
  color: #FFFFFF;
}

.mainDark #contGifBus .verMas:hover {
  border-color: white;
  background-color: white;
  color: black;
}

@media screen and (min-width: 850px) {
  main {
    padding-bottom: 5.48vw;
  }
  main #h1 {
    display: block;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.43vw;
    color: #572EE5;
    text-align: center;
    line-height: 3.47vw;
    width: 50vw;
    padding-top: 5.37vw;
  }
  main #cont-bus #ilustra-header {
    display: block;
    width: 27.7vw;
  }
  main #cont-bus #bar-bus {
    width: 38.3vw;
    border: 1px solid #572EE5;
    border-radius: 1.875vw;
  }
  main #cont-bus #bar-bus #bus-bar {
    height: 3.47vw;
  }
  main #cont-bus #bar-bus #bus-bar input {
    font-size: 1.11vw;
    color: #9CAFC3;
    text-align: left;
    width: 14.6vw;
    margin-left: 3.8vw;
  }
  main #cont-bus #bar-bus #bus-bar img {
    width: 1.4vw;
    padding-left: 17.2vw;
  }
  main #cont-bus #bar-bus #bus-bar #closeBus {
    width: 1.4vw;
    padding-left: 17.2vw;
  }
  main #cont-bus #bar-bus .contSugerencias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1.6vw 0;
    border-top: 1px solid #9CAFC3;
    opacity: 0.5;
  }
  main #cont-bus #bar-bus .contSugerencias .listaSugerencias {
    padding: 0.27vw 0 1.25vw;
  }
  main #cont-bus #bar-bus .contSugerencias .listaSugerencias .sugerencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.11vw;
    color: #000000;
    text-align: left;
    padding-top: 0.7vw;
  }
  main #cont-bus #bar-bus .contSugerencias .listaSugerencias .sugerencia img {
    width: 1.1vw;
  }
  main #cont-bus #bar-bus .contSugerencias .listaSugerencias .sugerencia p {
    padding-left: 1vw;
  }
  main .tren-bus {
    padding-top: 5.07vw;
  }
  main .tren-bus h2 {
    font-size: 1.25vw;
    line-height: 1.74vw;
  }
  main .tren-bus p {
    font-size: 1.11vw;
    line-height: 1.74vw;
  }
  main .trenaux {
    display: none;
  }
  main .contBus .rayita {
    width: 23.5vw;
    height: 0.1px;
    margin-top: 3.82vw;
  }
  main .contBus .tituloBusq {
    font-size: 2.43vw;
    line-height: 2.08vw;
    padding-top: 5.69vw;
  }
  main .contBus .busquedaOk {
    padding-top: 2.08vw;
    width: 78.26vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .contBus .busquedaOk .imgBusCont {
    width: 18.1vw;
    height: 13.88vw;
    margin-top: 2.01vw;
  }
  main .contBus .busquedaOk .imgBusCont img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  main .contBus .busquedaOk .imgBusCont .hoverImg {
    position: relative;
    background-color: #572EE5;
    opacity: 0.7;
    top: -14.125vw;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  main .contBus .busquedaOk .imgBusCont .hoverImg div {
    width: 100%;
    height: 50%;
  }
  main .contBus .busquedaOk .imgBusCont .hoverImg .contImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  main .contBus .busquedaOk .imgBusCont .hoverImg .contImg img {
    width: 2.2vw;
    height: 2.2vw;
    padding-top: 0.69vw;
    padding-right: 0.69vw;
  }
  main .contBus .busquedaOk .imgBusCont .hoverImg .contTit h4 {
    padding-left: 0.8vw;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.04vw;
    color: #FFFFFF;
  }
  main .contBus .busquedaOk .imgBusCont .hoverImg .contTit h3 {
    padding-left: 0.8vw;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.11vw;
    color: #FFFFFF;
  }
  main .contBus .verMas {
    width: 8.8vw;
    height: 3.47vw;
    border: 0.069vw solid #572EE5;
    border-radius: 1.73vw;
    margin-top: 5.41vw;
    font-weight: 700;
    font-size: 0.902vw;
  }
  main .contBus .busErronea {
    padding-top: 10.13vw;
  }
  main .contBus .busErronea .mensajeError {
    font-size: 1.53vw;
    padding: 2.01vw 0 4.93vw;
  }
  main .contBus .imgError {
    width: 10.4vw;
  }
}

#contTrend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11.2vw;
  padding-bottom: 22.67vw;
}

#contTrend h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 5.33vw;
  text-align: center;
  line-height: 8vw;
}

#contTrend p {
  font-family: "Roboto";
  font-size: 4.26vw;
  text-align: center;
  line-height: 6.13vw;
  width: 88.8vw;
}

#contTrend #trenContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 9vw;
  overflow: scroll;
}

#contTrend #trenContent .trendgif {
  width: 64.8vw;
  height: 52vw;
  margin-left: 5.9vw;
}

#contTrend #ternContentDesk {
  display: none;
}

.contTrendlight {
  background-color: #F3F5F8;
}

.contTrendlight h2 {
  color: #572EE5;
}

.contTrendlight p {
  color: #000000;
}

.contTrendDark {
  background-color: #222326;
}

.contTrendDark h2 {
  color: #FFFFFF;
}

.contTrendDark p {
  color: #FFFFFF;
}

@media screen and (min-width: 850px) {
  #contTrend {
    padding: 4.65vw 0 11.74vw;
  }
  #contTrend h2 {
    font-size: 1.74vw;
    line-height: 2.08vw;
  }
  #contTrend #contPrf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #contTrend #contPrf p {
    font-size: 1.25vw;
    width: auto;
  }
  #contTrend #contPrf .ult {
    padding-left: 0.5vw;
  }
  #contTrend #trenContent {
    display: none;
  }
  #contTrend #ternContentDesk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contTrend #ternContentDesk .sliders {
    margin: 0 1.6vw 0;
    height: 100%;
  }
  #contTrend #ternContentDesk #contTrenDesk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78.3vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend {
    width: 24.8vw;
    height: 19.1vw;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend img {
    width: 100%;
    height: 100%;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend {
    position: relative;
    background-color: #572EE5;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: -19.5vw;
    z-index: 1;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend div {
    width: 100%;
    height: 50%;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend .imgCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend .imgCont img {
    width: 2.2vw;
    height: 2.2vw;
    padding: 0.7vw 0.7vw 0 0;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend .titCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.3vw;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend .titCont h4 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.04vw;
    color: #FFFFFF;
    text-align: center;
  }
  #contTrend #ternContentDesk #contTrenDesk .contGifTrend .hoverTrend .titCont h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.11vw;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0.41vw;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13vw;
  padding-bottom: 6.33vw;
}

footer p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 4vw;
  letter-spacing: 0;
}

footer #cont-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25.4vw;
  padding-top: 6.66vw;
}

footer h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.73vw;
  letter-spacing: 0;
  line-height: 5.33vw;
  padding-top: 13.33vw;
}

footer .social {
  width: 4.8vw;
  height: 4.8vw;
}

.footerLight p {
  color: #000000;
}

.footerLight h3 {
  color: #000000;
}

.footerDark {
  background-color: #37383C;
}

.footerDark p {
  color: #FFFFFF;
}

.footerDark h3 {
  color: #FFFFFF;
}

@media screen and (min-width: 850px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  footer .auxFo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer p {
    font-size: 0.92vw;
  }
  footer #cont-social {
    padding: 0 0 0 1.2vw;
    width: 6.6vw;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  footer h3 {
    padding: 0;
    font-size: 0.92vw;
  }
  footer .social {
    width: 1.3vw;
    height: 1.3vw;
  }
}

#openGif {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 84.8vw;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15.73vw 7.5vw 0 7.7vw;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#openGif .contClose {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1.3vw;
  width: 3.7vw;
  height: 3.7vw;
}

#openGif .imgGifSelect {
  padding-top: 19.46vw;
  width: 100%;
  height: 65.33vw;
}

#openGif #contInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.73vw;
}

#openGif #contInfo .contTitulos h4 {
  font-family: "Roboto";
  font-size: 4vw;
  color: #000000;
  padding-left: 1.4vw;
}

#openGif #contInfo .contTitulos h3 {
  padding-top: 1.6vw;
  font-family: "Montserrat";
  font-size: 4.26vw;
  color: #000000;
}

#openGif #contInfo .contLogGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#openGif #contInfo .contLogGif .imgDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 7.7vw;
  opacity: 0.5;
  border: 0.26vw solid #9CAFC3;
  border-radius: 1.6vw;
  border-radius: 1.6vw;
  width: 9.6vw;
  height: 9.6vw;
}
/*# sourceMappingURL=styles.css.map */